@media only screen and (min-width: 700px) {
  .App {
    text-align: center;
  }
  h1 {
    color: #651962;
    font-family: "Nunito", sans-serif;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .bodyfund {
    margin-top: 100px;
    min-height: 300px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  html {
    background-color: rgb(240, 231, 234);
  }
  .App-header {
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
  p {
    color: #651962;
    font-family: "Nunito", sans-serif;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .progressbar {
    width: 100px;
  }
  .meter {
    height: 20px; /* Can be anything */
    position: relative;
    background: rgb(240, 231, 234);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #651962;
    background-image: linear-gradient(center bottom, #9b3d98 37%, #792276 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .container6 {
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    padding: 0px;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: rgb(247, 242, 244) 1px 1px 0px inset;
    font-size: 14px;
    box-shadow: rgb(226, 207, 213) 3px 3px 6px,
      rgb(247, 242, 244) -6px -6px 12px -1px;
    background: rgb(240, 231, 234);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(240, 231, 234);
  }
  #seeinter {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #651962;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    cursor: pointer;
  }

  #seeinter:hover {
    background-color: rgb(255, 249, 249);
  }
  .container2 {
    border-radius: 20px;
    width: 200px;
    height: fit-content;
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: rgb(226, 207, 213) 4px 4px 8px inset,
      rgb(247, 242, 244) -6px -6px 12px inset;
    font-size: 10px;
    background: rgb(240, 231, 234);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 207, 213);
    border-image: initial;
    border-radius: 12px;
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
  #estimatedprizeamount {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d1004b;
    font: Arial;
    height: 30px;
  }
  #estimatedprizetitle {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .est {
    width: 50%;
  }
  #qrcode {
    border-radius: 10px;
  }
  #amount {
    margin-top: 3px;
  }
  #fundingtext {
    margin-bottom: 1px;
  }
  #fund:hover {
    background-color: rgb(255, 249, 249);
    cursor: pointer;
    font-size: medium;
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
  #fund {
    cursor: pointer;
    font-size: medium;
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
}

@media only screen and (max-width: 700px) {
  .App {
    text-align: center;
  }
  h1 {
    color: #651962;
    font-family: "Nunito", sans-serif;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .bodyfund {
    margin-top: 70px;
    min-height: 300px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  html {
    background-color: rgb(240, 231, 234);
  }
  .App-header {
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
  p {
    color: #651962;
    font-family: "Nunito", sans-serif;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .progressbar {
    width: 100px;
  }
  .meter {
    height: 20px; /* Can be anything */
    position: relative;
    background: rgb(240, 231, 234);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #651962;
    background-image: linear-gradient(center bottom, #9b3d98 37%, #792276 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .container6 {
    border-radius: 20px;
    width: 200px;
    height: fit-content;
    padding: 0px;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: rgb(247, 242, 244) 1px 1px 0px inset;
    font-size: 14px;
    box-shadow: rgb(226, 207, 213) 3px 3px 6px,
      rgb(247, 242, 244) -6px -6px 12px -1px;
    background: rgb(240, 231, 234);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(240, 231, 234);
  }
  #seeinter {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #651962;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    cursor: pointer;
  }

  #seeinter:hover {
    background-color: rgb(255, 249, 249);
  }
  .container2 {
    border-radius: 20px;
    width: 200px;
    height: fit-content;
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: rgb(226, 207, 213) 4px 4px 8px inset,
      rgb(247, 242, 244) -6px -6px 12px inset;
    font-size: 10px;
    background: rgb(240, 231, 234);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 207, 213);
    border-image: initial;
    border-radius: 12px;
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
  #estimatedprizeamount {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d1004b;
    font: Arial;
    height: 30px;
  }
  #estimatedprizetitle {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .est {
    width: 50%;
  }
  #qrcode {
    border-radius: 10px;
  }
  #amount {
    margin-top: 3px;
  }
  #fundingtext {
    margin-bottom: 1px;
  }
  #fund:hover {
    background-color: rgb(255, 249, 249);
    cursor: pointer;
    font-size: medium;
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
  #fund {
    cursor: pointer;
    font-size: medium;
    color: #651962;
    font-family: "Nunito", sans-serif;
  }
}
